<br/>
<br/>
<br/>
<div class="container">
  <%i=0%>
  <%while i<@trends.length%>
      <div id="<%=@trends[i]["id"]%>" class="link" href="#" >
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail jumbotron" style="padding-left:1%; margin-top:3%; padding-right:2%;">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <img src="<%=@trends[i]["media_url"]%>" style="width:100%; margin-left:0px;">
                </div>
                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                  <div style="text-align:left; font-size:80%; word-wrap: break-word;"><i><%=strip_tags(@trends[i]["description"])%></i></div>
                  <div><p style="font-size:100%; text-align:justify; overflow-y:hidden; width:100%; word-wrap:break-word;" >....</p></div>
                </div>
                <div class="container">
                <button type="button" class="btn btn-success" style="float: right; margin-top: 0;"><%=@trends[i]["tags"]%></button>
                <a href="<%=@trends[i]["url"]%>" class="btn btn-primary" style="float: right; margin-top: 0;"><%=@trends[i]["domain"]%></a>
                </div>
              </div>
              <input id="app" type="hidden" name="Language" value="<%=@trends[i]["id"]%>">
            </div>
            </div>
            <%i=i+1%>
            <%if i<@trends.length %>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="thumbnail jumbotron" style="padding-left: 1%; margin-top: 3%; padding-right: 2%;">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="<%=@trends[i]["media_url"]%>" style="width: 100%; margin-left: 0px;">
                  </div>
                  <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                    <div style="text-align:left; font-size:80%; word-wrap: break-word;"><i><%=strip_tags(@trends[i]["description"])%></i></div>
                    <div><p style="font-size: 100%; text-align: justify; overflow-y: hidden; width: 100%; word-wrap: break-word;" >....</p></div>
                  </div>
                  <div class="container">
                  <button type="button" class="btn btn-success" style="float: right; margin-top: 0;"><%=@trends[i]["tags"]%></button>
                  <a href="<%=@trends[i]["url"]%>" class="btn btn-primary" style="display: block; float: right; margin-top: 0;" ><%=@trends[i]["domain"]%></a>
                    </div>
                </div>
                <input id="app" type="hidden" name="Language" value="<%=@trends[i]["id"]%>">
              </div>
          </div>
              <%i=i+1%>
          <%end%>
        </div>
      </div>
  <%end%>
</div>