<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>CSS3 Animated Bubble Buttons | Tutorialzine Demo</title>

  <link rel="stylesheet" type="text/css" href="css/page.css" />
  <link rel="stylesheet" type="text/css" href="buttons/buttons.css" />

</head>

<body>

<div id="buttonContainer">
  <% @response['tags'].each do |tag| %>
      <a href="#" class="button middle blue" data-attr="tags" data-attr_value="<%=tag%>"><%= tag %></a>
  <% end %>
  <% @response['categories'].each do |c| %>
      <a href="#" class="button middle green" data-attr="categories" data-attr_value="<%= c %>"><%= c %></a>
  <% end %>
  <% @response['celebreties'].each do |c| %>
      <a href="#" class="button middle orange" data-attr="celebreties" data-attr_value="<%= c %>"><%= c %></a>
  <% end %>
</div>
<div class="container" id="searchresult">

    </div>
</body>
</html>

<%= javascript_include_tag 'index' %>
